<?xml version="1.0"?>
<config>
    <modules>
        <C3_FixerIOCurrencyImport>
            <version>1.0.0</version>
        </C3_FixerIOCurrencyImport>
    </modules>
    <global>
        <blocks>
            <c3_fixeriocurrencyimport>
                <class>C3_FixerIOCurrencyImport_Block</class>
            </c3_fixeriocurrencyimport>
        </blocks>
        <helpers>
            <c3_fixeriocurrencyimport>
                <class>C3_FixerIOCurrencyImport_Helper</class>
            </c3_fixeriocurrencyimport>
        </helpers>
        <models>
            <c3_fixeriocurrencyimport>
                <class>C3_FixerIOCurrencyImport_Model</class>
            </c3_fixeriocurrencyimport>
        </models>
        <resources>
            <c3_fixeriocurrencyimport_setup>
                <setup>
                    <module>C3_FixerIOCurrencyImport</module>
                </setup>
            </c3_fixeriocurrencyimport_setup>
        </resources>
        <currency>
            <import>
                <services>
                    <fixerio>
                        <name>fixer.io</name>
                        <model>c3_fixeriocurrencyimport/currency_import_fixerIO</model>
                    </fixerio>
                </services>
            </import>
        </currency>
    </global>
</config>
